<header>
    <h1>Bookfinder Home Page</h1>
    <p>You can find <span id="special">yourself</span> a book from here!</p>
</header>
<div class="container">
    <h1>Book Search Engine</h1>
    <div id="result">

    </div>
</div>